---------------------------------
--! @file {{ rtcParam.name }}Test.py
--! @brief {{ rtcParam.description }}
--! @date $Date$

{%- if rtcParam.doc_creator.length > 0 %}
--! @author {{ rtcParam.doc_creator }}
{%- endif %}
{%- if rtcParam.doc_license.length > 0 %}

--! {{ rtcParam.doc_license }}
{%- endif %}
---------------------------------

local openrtm  = require "openrtm"



-- Import Service implementation class
-- <rtc-template block="service_impl">
{%- for consumerIdlFile in rtcParam.consumerIdlPathes %}
local {{ getIdlFileNoExt(consumerIdlFile.idlPath) }}_idl_example = require "{{ getIdlFileNoExt(consumerIdlFile.idlPath) }}_idl_example"
{%- endfor %}


-- </rtc-template>


-- This module's spesification
-- <rtc-template block="module_spec">
local {{ rtcParam.name.toLowerCase() }}test_spec = {["implementation_id"]="{{ rtcParam.name }}Test", 
		 ["type_name"[="{{ rtcParam.name }}Test", 
		 ["description"]="{{ rtcParam.description }}",
		 ["version"]="{{ rtcParam.version }}",
		 ["vendor"]="{{ rtcParam.vendor }}",
		 ["category"]="{{ rtcParam.category }}",
		 ["activity_type"]="{{ rtcParam.componentType }}",
		 ["max_instance"]="{{ rtcParam.maxInstance }}",
		 ["language"]="Lua",
		 ["lang_type"]="SCRIPT",
{%- for configParam in rtcParam.configParams %}
		 ["conf.default.{{ configParam.name }}"]="{{ configParam.defaultValue }}",
{%- endfor %}
{%- if rtcParam.configParams.length > 0 %}
{%- for configParam in rtcParam.configParams %}
{%- if getWidget(configParam).length > 0 %}
		 ["conf.__widget__.{{ configParam.name }}"]="{{ getWidget(configParam) }}{% if getStep(configParam).length > 0 %}.{{ getStep(configParam) }}{% endif %}",
{%- endif %}
{%- endfor %}
{%- for configParam in rtcParam.configParams %}
{%- if configParam.constraint.length > 0 %}
		 ["conf.__constraints__.{{ configParam.name }}"]="{{ configParam.constraint }}",
{%- endif %}
{%- endfor %}
{%- for configParam in rtcParam.configParams %}
         ["conf.__type__.{{ configParam.name }}"]="{{ configParam.type }}",
{%- endfor %}
{%- endif %}
		 ""}
-- </rtc-template>

-- @class {{ rtcParam.name }}Test
-- @brief {{ rtcParam.description }}
{%- if rtcParam.doc_description.length > 0 %}
--
-- {{ rtcParam.doc_description }}
{%- endif %}
{%- if rtcParam.doc_in_out.length > 0 %}
--
-- {{ rtcParam.doc_in_out }}
{%- endif %}
{%- if rtcParam.doc_algorithm.length > 0 %}
--
-- {{ rtcParam.doc_algorithm }}
{%- endif %}
{%- if rtcParam.doc_reference.length > 0 %}
--
-- {{ rtcParam.doc_reference }}
{%- endif %}
local {{ rtcParam.name }}Test = {}
{{ rtcParam.name }}Test.new = function(manager)
	local obj = {}
	setmetatable(obj, {__index=openrtm.RTObject.new(manager)})

{%- for IdlFile in allIdlFileParam %}
{%- if IdlFile.isDataPort %}
	manager:loadIdLFile("idl/{{ getFileName(IdlFile.idlPath) }}")
{%- endif %}
{% endfor %}


{%- for port in rtcParam.outports %}
	obj._d_{{ getTmplVarName(port) }} = openrtm.RTCUtil.instantiateDataType("{{ getDataportInitMethodName(port.type) }}")
	--[[
{%- if port.doc_description.length>0 %}
		{{ port.doc_description }}{% endif %}
{%- if port.doc_type.length>0 %}
		 - Type: {{ port.doc_type }}{% endif %}
{%- if port.doc_num.length>0 %}
		 - Number: {{ port.doc_num }}{% endif %}
{%- if port.doc_semantics.length>0 %}
		 - Semantics: {{ port.doc_semantics }}{% endif %}
{%- if port.doc_unit.length>0 %}
		 - Unit: {{ port.doc_unit }}{% endif %}
{%- if port.doc_occerrence.length>0 %}
		 - Frequency: {{ port.doc_occerrence }}{% endif %}
{%- if port.doc_operation.length>0 %}
		 - Operation Cycle: {{ port.doc_operation }}{% endif %}
	--]]
	obj._{{ port.name }}In = openrtm.InPort.new("{{ port.name }}", obj._d_{{ getTmplVarName(port) }}, "{{ getDataportInitMethodName(port.type) }}")
{%- endfor %}
{%- for port in rtcParam.inports %}
	obj._d_{{ getTmplVarName(port) }} = openrtm.RTCUtil.instantiateDataType("{{ getDataportInitMethodName(port.type) }}")
	--[[
{%- if port.doc_description.length>0 %}
		{{ port.doc_description }}{% endif %}
{%- if port.doc_type.length>0 %}
		 - Type: {{ port.doc_type }}{% endif %}
{%- if port.doc_num.length>0 %}
		 - Number: {{ port.doc_num }}{% endif %}
{%- if port.doc_semantics.length>0 %}
		 - Semantics: {{ port.doc_semantics }}{% endif %}
{%- if port.doc_unit.length>0 %}
		 - Unit: {{ port.doc_unit }}{% endif %}
{%- if port.doc_occerrence.length>0 %}
		 - Frequency: {{ port.doc_occerrence }}{% endif %}
{%- if port.doc_operation.length>0 %}
		 - Operation Cycle: {{ port.doc_operation }}{% endif %}
	--]]
	obj._{{ port.name }}Out = openrtm.OutPort.new("{{ port.name }}", obj._d_{{ getTmplVarName(port) }}, "{{ getDataportInitMethodName(port.type) }}")
{%- endfor %}

{%- if rtcParam.serviceports.length>0 %}
{% for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
	--[[
{%- if servicePort.doc_description.length>0 %}
		{{ servicePort.doc_description }}{% endif %}
{%- if servicePort.doc_if_description.length>0 %}
		Interface: {{ servicePort.doc_if_description }}{% endif %}
	--]]
	obj._{{ servicePort.name }}Port = openrtm.CorbaPort.new("{{ servicePort.name }}")
{%- endif %}{% endfor %}{% endif %}

{%- if rtcParam.serviceports.length>0 %}
{% for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Required' %}
	--[[
{%- if serviceInterface.doc_description.length>0 %}
		{{ serviceInterface.doc_description }}{% endif %}
{%- if serviceInterface.doc_argument.length>0 %}
		 - Argument:      {{ serviceInterface.doc_argument }}{% endif %}
{%- if serviceInterface.doc_return.length>0 %}
		 - Return Value:  {{ serviceInterface.doc_return }}{% endif %}
{%- if serviceInterface.doc_exception.length>0 %}
		 - Exception:     {{ serviceInterface.doc_exception }}{% endif %}
{%- if serviceInterface.doc_pre_condition.length>0 %}
		 - PreCondition:  {{ serviceInterface.doc_pre_condition }}{% endif %}
{%- if serviceInterface.doc_post_condition.length>0 %}
		 - PostCondition: {{ serviceInterface.doc_post_condition }}{% endif %}
	--]]
	obj._{{ getTmplVarNameSI(serviceInterface) }} = {{ getIdlFileNoExt(serviceInterface.idlfile) }}_idl_example.{{ getInterfaceBasename(serviceInterface.interfacetype) }}_i.new()
{%- endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}


{%- if rtcParam.serviceports.length>0 %}
{% for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Provided' %}
	--[[
{%- if serviceInterface.doc_description.length>0 %}
		{{ serviceInterface.doc_description }}{% endif %}
{%- if serviceInterface.doc_argument.length>0 %}
		 - Argument:      {{ serviceInterface.doc_argument }}{% endif %}
{%- if serviceInterface.doc_return.length>0 %}
		 - Return Value:  {{ serviceInterface.doc_return }}{% endif %}
{%- if serviceInterface.doc_exception.length>0 %}
		 - Exception:     {{ serviceInterface.doc_exception }}{% endif %}
{%- if serviceInterface.doc_pre_condition.length>0 %}
		 - PreCondition:  {{ serviceInterface.doc_pre_condition }}{% endif %}
{%- if serviceInterface.doc_post_condition.length>0 %}
		 - PostCondition: {{ serviceInterface.doc_post_condition }}{% endif %}
	--]]
	obj._{{ getTmplVarNameSI(serviceInterface) }} = openrtm.CorbaConsumer.new("{{ convertServiceInterfaceName(serviceInterface.interfacetype) }}")
{%- endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}

	-- initialize of configuration-data.
	-- <rtc-template block="init_conf_param">
{%- for configParam in rtcParam.configParams %}
	--[[
		{{ configParam.doc_description }}
		 - Name: {{ configParam.doc_dataname }} {{ getTmplVarName(configParam) }}
		 - DefaultValue: {{ configParam.defaultValue }}
{%- if configParam.doc_unit.length>0 %}
		 - Unit: {{ configParam.doc_unit }}{% endif %}
{%- if configParam.doc_range.length>0 %}
		 - Range: {{ configParam.doc_range }}{% endif %}
{%- if configParam.doc_constraint.length>0 %}
		 - Constraint: {{ configParam.doc_constraint }}{% endif %}
	--]]
	obj._{{ getTmplVarName(configParam) }} = {_value={{ convDefaultVal(configParam) }}}
{%- endfor %}

	-- </rtc-template>
		 
{%- if rtcParam.actions['onInitialize'].overview.length>0 %}
	-- {{ rtcParam.actions['onInitialize'].overview }}
{%- endif %}
	--
	-- The initialize action (on CREATED->ALIVE transition)
	-- formaer rtc_init_entry()
	--
	-- @return RTC::ReturnCode_t
	--
{%- if rtcParam.actions['onInitialize'].pre_condition.length>0 %}
	-- @pre {{ rtcParam.actions['onInitialize'].pre_condition }}
{%- endif %}
{%- if rtcParam.actions['onInitialize'].post_condition.length>0 %}
	-- @post {{ rtcParam.actions['onInitialize'].post_condition }}
{%- endif %}
	--
	function obj:onInitialize()
		-- Bind variables and configuration variable
{%- for configParam in rtcParam.configParams %}
		self:bindParameter("{{ configParam.name }}", self._{{ getTmplVarName(configParam) }}, "{{ configParam.defaultValue }}")
{%- endfor %}

		-- Set OutPort buffers
{%- for port in rtcParam.outports %}
		self:addInPort("{{ port.name }}",self._{{ port.name }}In)
{%- endfor %}

		-- Set InPort buffers
{%- for port in rtcParam.inports %}
		self:addOutPort("{{ port.name }}",self._{{ port.name }}Out)
{%- endfor %}

		-- Set service provider to Ports
{%- if rtcParam.serviceports.length>0 %}
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Required' %}
		self._{{ servicePort.name }}Port:registerProvider("{{ serviceInterface.name }}", "{{ serviceInterface.interfacetype }}", self._{{ getTmplVarNameSI(serviceInterface) }}, "idl/{{ getFileName(serviceInterface.idlfile) }}", "{{ convertServiceInterfaceName(serviceInterface.interfacetype) }}")
{%- endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}

		-- Set service consumers to Ports
{%- if rtcParam.serviceports.length>0 %}
{% for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Provided' %}
		self._{{ servicePort.name }}Port:registerConsumer("{{ serviceInterface.name }}", "{{ serviceInterface.interfacetype }}", self._{{ getTmplVarNameSI(serviceInterface) }}, "idl/{{ getFileName(serviceInterface.idlfile) }}")
{%- endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}

		-- Set CORBA Service Ports
{%- if rtcParam.serviceports.length>0 %}
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
		self:addPort(self._{{ servicePort.name }}Port)
{%- endif %}{% endfor %}{% endif %}
		return self._ReturnCode_t.RTC_OK
	end

{% if rtcParam.actions['onFinalize'].overview.length>0 %}
	{% if rtcParam.actions['onFinalize'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onFinalize'].overview }}{% endif %}
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}-- The finalize action (on ALIVE->END transition)
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}-- formaer rtc_exiting_entry()
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}

{%- if rtcParam.actions['onFinalize'].pre_condition.length>0 %}
	{% if rtcParam.actions['onFinalize'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onFinalize'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onFinalize'].post_condition.length>0 %}
	{% if rtcParam.actions['onFinalize'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onFinalize'].post_condition }}{% endif %}
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}function obj:onFinalize()
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onFinalize'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onStartup'].overview.length>0 %}
	{% if rtcParam.actions['onStartup'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onStartup'].overview }}{%- endif %}
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}-- The startup action when ExecutionContext startup
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}-- former rtc_starting_entry()
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onStartup'].pre_condition.length>0 %}
	{% if rtcParam.actions['onStartup'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onStartup'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onStartup'].post_condition.length>0 %}
	{% if rtcParam.actions['onStartup'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onStartup'].post_condition }}{% endif %}
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}function obj:onStartup(ec_id)
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onStartup'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onShutdown'].overview.length>0 %}
	{% if rtcParam.actions['onShutdown'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onShutdown'].overview }}{% endif %}
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}-- The shutdown action when ExecutionContext stop
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}-- former rtc_stopping_entry()
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onShutdown'].pre_condition.length>0 %}
	{% if rtcParam.actions['onShutdown'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onShutdown'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onShutdown'].post_condition.length>0 %}
	{% if rtcParam.actions['onShutdown'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onShutdown'].post_condition }}{% endif %}
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}function obj:onShutdown(ec_id)
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onShutdown'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onActivated'].overview.length>0 %}
	{% if rtcParam.actions['onActivated'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onActivated'].overview }}{% endif %}
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}-- The activated action (Active state entry action)
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}-- former rtc_active_entry()
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onActivated'].pre_condition.length>0 %}
	{% if rtcParam.actions['onActivated'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onActivated'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onActivated'].post_condition.length>0 %}
	{% if rtcParam.actions['onActivated'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onActivated'].post_condition }}{% endif %}
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}function obj:onActivated(ec_id)
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onActivated'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onDeactivated'].overview.length>0 %}
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onDeactivated'].overview }}{%- endif %}
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}-- The deactivated action (Active state exit action)
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}-- former rtc_active_exit()
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onDeactivated'].pre_condition.length>0 %}
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onDeactivated'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onDeactivated'].post_condition.length>0 %}
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onDeactivated'].post_condition }}{% endif %}
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}function obj:onDeactivated(ec_id)
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onDeactivated'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onExecute'].overview.length>0 %}
	{% if rtcParam.actions['onExecute'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onExecute'].overview }}{% endif %}
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}-- The execution action that is invoked periodically
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}-- former rtc_active_do()
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onExecute'].pre_condition.length>0 %}
	{% if rtcParam.actions['onExecute'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onExecute'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onExecute'].post_condition.length>0 %}
	{% if rtcParam.actions['onExecute'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onExecute'].post_condition }}{% endif %}
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}function obj:onExecute(ec_id)
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onExecute'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onAborting'].overview.length>0 %}
	{% if rtcParam.actions['onAborting'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onAborting'].overview }}{%- endif %}
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}-- The aborting action when main logic error occurred.
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}-- former rtc_aborting_entry()
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onAborting'].pre_condition.length>0 %}
	{% if rtcParam.actions['onAborting'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onAborting'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onAborting'].post_condition.length>0 %}
	{% if rtcParam.actions['onAborting'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onAborting'].post_condition }}{% endif %}
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}function obj:onAborting(ec_id)
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onAborting'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onError'].overview.length>0 %}
	{% if rtcParam.actions['onError'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onError'].overview }}{%- endif %}
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}-- The error action in ERROR state
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}-- former rtc_error_do()
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onError'].pre_condition.length>0 %}
	{% if rtcParam.actions['onError'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onError'].pre_condition }}{%- endif %}
{%- if rtcParam.actions['onError'].post_condition.length>0 %}
	{% if rtcParam.actions['onError'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onError'].post_condition }}{%- endif %}
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}function obj:onError(ec_id)
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onError'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onReset'].overview.length>0 %}
	{% if rtcParam.actions['onReset'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onReset'].overview }}{%- endif %}
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}-- The reset action that is invoked resetting
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}-- This is same but different the former rtc_init_entry()
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onReset'].pre_condition.length>0 %}
	{% if rtcParam.actions['onReset'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onReset'].pre_condition }}{%- endif %}
{%- if rtcParam.actions['onReset'].post_condition.length>0 %}
	{% if rtcParam.actions['onReset'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onReset'].post_condition }}{%- endif %}
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}function obj:onReset(ec_id)
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onReset'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onStateUpdate'].overview.length>0 %}
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onStateUpdate'].overview }}{%- endif %}
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}-- The state update action that is invoked after onExecute() action
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}-- no corresponding operation exists in OpenRTm-aist-0.2.0
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onStateUpdate'].pre_condition.length>0 %}
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onStateUpdate'].pre_condition }}{%- endif %}
{%- if rtcParam.actions['onStateUpdate'].post_condition.length>0 %}
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onStateUpdate'].post_condition }}{%- endif %}
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}function obj:onStateUpdate(ec_id)
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onStateUpdate'].implemented==false %}--	{% endif %}end

{% if rtcParam.actions['onRateChanged'].overview.length>0 %}
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--{% endif %}-- {{ rtcParam.actions['onRateChanged'].overview }}{% endif %}
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}-- The action that is invoked when execution context's rate is changed
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}-- no corresponding operation exists in OpenRTm-aist-0.2.0
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}-- @param ec_id target ExecutionContext Id
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}-- @return RTC::ReturnCode_t
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}--
{%- if rtcParam.actions['onRateChanged'].pre_condition.length>0 %}
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--{% endif %}-- @pre {{ rtcParam.actions['onRateChanged'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onRateChanged'].post_condition.length>0 %}
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--{% endif %}-- @post {{ rtcParam.actions['onRateChanged'].post_condition }}{% endif %}
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}--
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}function obj:onRateChanged(ec_id)
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}	return self._ReturnCode_t.RTC_OK
	{% if rtcParam.actions['onRateChanged'].implemented==false %}--	{% endif %}end
	return obj
end


local MyModuleInit = function(manager)
    {{ rtcParam.name }}Test.Init(manager)

    -- Create a component
    local comp = manager:createComponent("{{ rtcParam.name }}Test")
end

if openrtm.Manager.is_main() then
	local manager = openrtm.Manager
	manager:init(arg)
	manager:setModuleInitProc(MyModuleInit)
	manager:activateManager()
	manager:runManager()
else
	return {{ rtcParam.name }}Test
end

