// -*- Java -*-
// <rtc-template block="description">
/*!
 * @file  {{ rtcParam.name }}Impl.java
 * @brief {{ rtcParam.description }}
 * @date  $Date$
{%- if rtcParam.doc_creator.length > 0 %}
 *
 * @author {{rtcParam.doc_creator}}{% endif %}
{%- if rtcParam.doc_license.length > 0 %}
 *
 * {{ rtcParam.doc_license }}{% endif %}
 *
 * $Id$
 */
// </rtc-template>

{%- if rtcParam.inports.length > 0 or rtcParam.outports.length > 0 %}
import java.lang.reflect.Array;
import java.lang.reflect.Constructor;
import java.lang.reflect.Field;
import java.lang.reflect.InvocationTargetException;
import java.lang.reflect.Method;
{%- endif %}

{%- for type in getPortTypes(rtcParam) %}
{{ getDataportPackageName(type) }}
{%- endfor %}
import jp.go.aist.rtm.RTC.DataFlowComponentBase;
import jp.go.aist.rtm.RTC.Manager;
{%- if rtcParam.inports.length > 0 %}
import jp.go.aist.rtm.RTC.port.InPort;
{%- endif %}
{%- if rtcParam.outports.length > 0 %}
import jp.go.aist.rtm.RTC.port.OutPort;
{%- endif %}
{%- if rtcParam.inports.length > 0 or rtcParam.outports.length > 0 %}
import jp.go.aist.rtm.RTC.util.DataRef;
{%- endif %}
{%- if rtcParam.originalConsumerIdls.length > 0 %}
import jp.go.aist.rtm.RTC.port.CorbaConsumer;
{%- endif %}
{%- if rtcParam.originalProviderIdls.length > 0 or rtcParam.originalConsumerIdls.length > 0 %}
import jp.go.aist.rtm.RTC.port.CorbaPort;
{%- endif %}
{%- if rtcParam.originalProviderIdls.length > 0 %}
import org.omg.PortableServer.POAPackage.ObjectNotActive;
import org.omg.PortableServer.POAPackage.ServantAlreadyActive;
import org.omg.PortableServer.POAPackage.WrongPolicy;
{%- endif %}
{%- if rtcParam.configParams.length > 0 %}
{%- for type in getParamTypes(rtcParam) %}
import jp.go.aist.rtm.RTC.util.{{ type }};
{%- endfor %}
{%- endif %}
{%- if useReturnCode(rtcParam) %}
import RTC.ReturnCode_t;
{%- endif %}
{% if rtcParam.serviceports.length>0 %}
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Required' %}
{%- if isModule(serviceInterface.interfacetype) %}import {{ convFormat(serviceInterface.interfacetype) }};
{% endif %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}

// <rtc-template block="component_description">
/**
 * {{ rtcParam.name }}Impl
 * <p>
 * {{ rtcParam.description }}
{%- if rtcParam.doc_description.length > 0 %}
 *
 * {{ rtcParam.doc_description }}
{%- endif %}
{%- if rtcParam.doc_in_out.length > 0 %}
 *
 * {{ rtcParam.doc_in_out }}
{%- endif %}
{%- if rtcParam.doc_algorithm.length > 0 %}
 *
 * {{ rtcParam.doc_algorithm }}
{%- endif %}
{%- if rtcParam.doc_reference.length > 0 %}
 *
 * {{ rtcParam.doc_reference }}
{%- endif %}
 *
 */
// </rtc-template>
public class {{ rtcParam.name }}Impl extends DataFlowComponentBase {

  /**
   * constructor
   * @param manager Manager Object
   */
    public {{ rtcParam.name }}Impl(Manager manager) {  
        super(manager);
        // <rtc-template block="initializer">
{%- for port in rtcParam.inports %}
        m_{{ getTmplVarName(port) }}_val = new {{ getDataTypeName(port.type) }}();
        initializeParam(m_{{ getTmplVarName(port) }}_val);
        m_{{ getTmplVarName(port) }} = new DataRef<{{ getDataTypeName(port.type) }}>(m_{{ getTmplVarName(port) }}_val);
        m_{{ port.name }}In = new InPort<{{ getDataTypeName(port.type) }}>("{{ port.name }}", m_{{ getTmplVarName(port) }});
{%- endfor %}
{%- for port in rtcParam.outports %}
        m_{{ getTmplVarName(port) }}_val = new {{ getDataTypeName(port.type) }}();
        initializeParam(m_{{ getTmplVarName(port) }}_val);
        m_{{ getTmplVarName(port) }} = new DataRef<{{ getDataTypeName(port.type) }}>(m_{{ getTmplVarName(port) }}_val);
        m_{{ port.name }}Out = new OutPort<{{ getDataTypeName(port.type) }}>("{{ port.name }}", m_{{ getTmplVarName(port) }});
{%- endfor %}
{%- if rtcParam.serviceports.length>0 %}
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
        m_{{ servicePort.name }}Port = new CorbaPort("{{ servicePort.name }}");
{%- endif %}{% endfor %}{% endif %}
        // </rtc-template>

    }

    /*{%- if rtcParam.configParams.length==0 %}*{% else %}!{% endif %}

{%- if rtcParam.actions['onInitialize'].overview.length>0 %}
     * {{ rtcParam.actions['onInitialize'].overview }}{%- endif %}
     *
     * The initialize action (on CREATED-&gt;ALIVE transition)
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onInitialize'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onInitialize'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onInitialize'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onInitialize'].post_condition }}{% endif %}
     * 
     */
{%- if rtcParam.configParams.length>0 or rtcParam.inports.length>0 or rtcParam.outports.length>0 or rtcParam.serviceports.length>0 or rtcParam.actions['onInitialize'].implemented %}
    @Override
    protected ReturnCode_t onInitialize() {
        // Registration: InPort/OutPort/Service
        // <rtc-template block="registration">
{%- if rtcParam.inports.length > 0 %}
        // Set InPort buffers
{%- for port in rtcParam.inports %}
        addInPort("{{ port.name }}", m_{{ port.name }}In);
{%- endfor %}
{%- endif %}
{%- if rtcParam.outports.length > 0 %}
        
        // Set OutPort buffer
{%- for port in rtcParam.outports %}
        addOutPort("{{ port.name }}", m_{{ port.name }}Out);
{%- endfor %}
{%- endif %}
{%- if rtcParam.providerIdlPathes.length > 0 %}
        
        // Set service provider to Ports
{%- if rtcParam.serviceports.length>0 %}
        try {
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Provided' %}
            m_{{ servicePort.name }}Port.registerProvider("{{ serviceInterface.name }}", "{{ convFormat(serviceInterface.interfacetype) }}", m_{{ getTmplVarNameSI(serviceInterface) }});
{%- endif %}{% endfor %}{% endif %}{% endfor %}
        } catch (ServantAlreadyActive e) {
            e.printStackTrace();
        } catch (WrongPolicy e) {
            e.printStackTrace();
        } catch (ObjectNotActive e) {
            e.printStackTrace();
        }
{%- endif %}{%- endif %}
{%- if rtcParam.serviceports.length>0 %}
        
        // Set service consumers to Ports
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Required' %}
        m_{{ servicePort.name }}Port.registerConsumer("{{ serviceInterface.name }}", "{{ convFormat(serviceInterface.interfacetype) }}", m_{{ getTmplVarNameSI(serviceInterface) }}Base);
{%- endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}
{%- if rtcParam.serviceports.length>0 %}
        
        // Set CORBA Service Ports
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
        addPort(m_{{ servicePort.name }}Port);
{%- endif %}{% endfor %}{% endif %}
        // </rtc-template>
{%- for configParam in rtcParam.configParams %}
        bindParameter("{{ configParam.name }}", m_{{ getTmplVarName(configParam) }}, "{{ configParam.defaultValue }}");
{%- endfor %}

        return super.onInitialize();
    }
{%- else %}
//    @Override
//    protected ReturnCode_t onInitialize() {
        // Registration: InPort/OutPort/Service
        // <rtc-template block="registration">
        // </rtc-template>
//        return super.onInitialize();
//    }
{% endif %}

    /**
{%- if rtcParam.actions['onFinalize'].overview.length>0 %}
     * {{ rtcParam.actions['onFinalize'].overview }}{% endif %}
     *
     * The finalize action (on ALIVE-&gt;END transition)
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onFinalize'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onFinalize'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onFinalize'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onFinalize'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onFinalize'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onFinalize'].implemented==false %}//{% endif %}    protected ReturnCode_t onFinalize() {
{% if rtcParam.actions['onFinalize'].implemented==false %}//{% endif %}        return super.onFinalize();
{% if rtcParam.actions['onFinalize'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onStartup'].overview.length>0 %}
     * {{ rtcParam.actions['onStartup'].overview }}{% endif %}
     *
     * The startup action when ExecutionContext startup
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onStartup'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onStartup'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onStartup'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onStartup'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onStartup'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onStartup'].implemented==false %}//{% endif %}    protected ReturnCode_t onStartup(int ec_id) {
{% if rtcParam.actions['onStartup'].implemented==false %}//{% endif %}        return super.onStartup(ec_id);
{% if rtcParam.actions['onStartup'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onShutdown'].overview.length>0 %}
     * {{ rtcParam.actions['onShutdown'].overview }}{% endif %}
     *
     * The shutdown action when ExecutionContext stop
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onShutdown'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onShutdown'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onShutdown'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onShutdown'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onShutdown'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onShutdown'].implemented==false %}//{% endif %}    protected ReturnCode_t onShutdown(int ec_id) {
{% if rtcParam.actions['onShutdown'].implemented==false %}//{% endif %}        return super.onShutdown(ec_id);
{% if rtcParam.actions['onShutdown'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onActivated'].overview.length>0 %}
     * {{ rtcParam.actions['onActivated'].overview }}{% endif %}
     *
     * The activated action (Active state entry action)
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onActivated'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onActivated'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onActivated'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onActivated'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onActivated'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onActivated'].implemented==false %}//{% endif %}    protected ReturnCode_t onActivated(int ec_id) {
{% if rtcParam.actions['onActivated'].implemented==false %}//{% endif %}        return super.onActivated(ec_id);
{% if rtcParam.actions['onActivated'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onDeactivated'].overview.length>0 %}
     * {{ rtcParam.actions['onDeactivated'].overview }}{% endif %}
     *
     * The deactivated action (Active state exit action)
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onDeactivated'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onDeactivated'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onDeactivated'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onDeactivated'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onDeactivated'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onDeactivated'].implemented==false %}//{% endif %}    protected ReturnCode_t onDeactivated(int ec_id) {
{% if rtcParam.actions['onDeactivated'].implemented==false %}//{% endif %}        return super.onDeactivated(ec_id);
{% if rtcParam.actions['onDeactivated'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onExecute'].overview.length>0 %}
     * {{ rtcParam.actions['onExecute'].overview }}{% endif %}
     *
     * The execution action that is invoked periodically
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onExecute'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onExecute'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onExecute'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onExecute'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onExecute'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onExecute'].implemented==false %}//{% endif %}    protected ReturnCode_t onExecute(int ec_id) {
{% if rtcParam.actions['onExecute'].implemented==false %}//{% endif %}        return super.onExecute(ec_id);
{% if rtcParam.actions['onExecute'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onAborting'].overview.length>0 %}
     * {{ rtcParam.actions['onAborting'].overview }}{% endif %}
     *
     * The aborting action when main logic error occurred.
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onAborting'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onAborting'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onAborting'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onAborting'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onAborting'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onAborting'].implemented==false %}//{% endif %}    public ReturnCode_t onAborting(int ec_id) {
{% if rtcParam.actions['onAborting'].implemented==false %}//{% endif %}        return super.onAborting(ec_id);
{% if rtcParam.actions['onAborting'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onError'].overview.length>0 %}
     * {{ rtcParam.actions['onError'].overview }}{% endif %}
     *
     * The error action in ERROR state
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onError'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onError'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onError'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onError'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onError'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onError'].implemented==false %}//{% endif %}    public ReturnCode_t onError(int ec_id) {
{% if rtcParam.actions['onError'].implemented==false %}//{% endif %}        return super.onError(ec_id);
{% if rtcParam.actions['onError'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onReset'].overview.length>0 %}
     * {{ rtcParam.actions['onReset'].overview }}{% endif %}
     *
     * The reset action that is invoked resetting
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onReset'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onReset'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onReset'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onReset'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onReset'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onReset'].implemented==false %}//{% endif %}    protected ReturnCode_t onReset(int ec_id) {
{% if rtcParam.actions['onReset'].implemented==false %}//{% endif %}        return super.onReset(ec_id);
{% if rtcParam.actions['onReset'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onStateUpdate'].overview.length>0 %}
     * {{ rtcParam.actions['onStateUpdate'].overview }}{% endif %}
     *
     * The state update action that is invoked after onExecute() action
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onStateUpdate'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onStateUpdate'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onStateUpdate'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onStateUpdate'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onStateUpdate'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onStateUpdate'].implemented==false %}//{% endif %}    protected ReturnCode_t onStateUpdate(int ec_id) {
{% if rtcParam.actions['onStateUpdate'].implemented==false %}//{% endif %}        return super.onStateUpdate(ec_id);
{% if rtcParam.actions['onStateUpdate'].implemented==false %}//{% endif %}    }

    /**
{%- if rtcParam.actions['onRateChanged'].overview.length>0 %}
     * {{ rtcParam.actions['onRateChanged'].overview }}{% endif %}
     *
     * The action that is invoked when execution context's rate is changed
     *
     * @param ec_id target ExecutionContext Id
     *
     * @return RTC::ReturnCode_t
     * 
{%- if rtcParam.actions['onRateChanged'].pre_condition.length>0 %}
     * @pre {{ rtcParam.actions['onRateChanged'].pre_condition }}{% endif %}
{%- if rtcParam.actions['onRateChanged'].post_condition.length>0 %}
     * @post {{ rtcParam.actions['onRateChanged'].post_condition }}{% endif %}
     * 
     */
{% if rtcParam.actions['onRateChanged'].implemented==false %}//{% endif %}    @Override
{% if rtcParam.actions['onRateChanged'].implemented==false %}//{% endif %}    protected ReturnCode_t onRateChanged(int ec_id) {
{% if rtcParam.actions['onRateChanged'].implemented==false %}//{% endif %}        return super.onRateChanged(ec_id);
{% if rtcParam.actions['onRateChanged'].implemented==false %}//{% endif %}    }
//
    /**
     */
{%- if rtcParam.configParams.length > 0 %}
    // Configuration variable declaration
    // <rtc-template block="config_declare">
{%- for configParam in rtcParam.configParams %}
    /*!
     * {{ configParam.doc_description }}
     * - Name: {{ configParam.doc_dataname }} {{ getTmplVarName(configParam) }}
     * - DefaultValue: {{ configParam.defaultValue }}
{%- if configParam.doc_unit.length>0 %}
     * - Unit: {{ configParam.doc_unit }}{% endif %}
{%- if configParam.doc_range.length>0 %}
     * - Range: {{ configParam.doc_range }}{% endif %}
{%- if configParam.doc_constraint.length>0 %}
     * - Constraint: {{ configParam.doc_constraint }}{% endif %}
     */
    protected {{ convJava2ParamHolder(configParam.type,true) }} m_{{ getTmplVarName(configParam) }} = new {{ convJava2ParamHolder(configParam.type,true) }}();
{%- endfor %}
    // </rtc-template>

{%- endif %}

    /**
     */
    // DataInPort declaration
    // <rtc-template block="inport_declare">
{%- for port in rtcParam.inports %}
    protected {{ getDataTypeName(port.type) }} m_{{ getTmplVarName(port) }}_val;
    protected DataRef<{{ getDataTypeName(port.type) }}> m_{{ getTmplVarName(port) }};
    /*!
{%- if port.doc_description.length>0 %}
     * {{ port.doc_description }}{% endif %}
{%- if port.doc_type.length>0 %}
     * - Type: {{ port.doc_type }}{% endif %}
{%- if port.doc_num.length>0 %}
     * - Number: {{ port.doc_num }}{% endif %}
{%- if port.doc_semantics.length>0 %}
     * - Semantics: {{ port.doc_semantics }}{% endif %}
{%- if port.doc_unit.length>0 %}
     * - Unit: {{ port.doc_unit }}{% endif %}
{%- if port.doc_occerrence.length>0 %}
     * - Frequency: {{ port.doc_occerrence }}{% endif %}
{%- if port.doc_operation.length>0 %}
     * - Operation Cycle: {{ port.doc_operation }}{% endif %}
     */
    protected InPort<{{ getDataTypeName(port.type) }}> m_{{ port.name }}In;
{% endfor %}
    
    // </rtc-template>

    // DataOutPort declaration
    // <rtc-template block="outport_declare">
{%- for port in rtcParam.outports %}
    protected {{ getDataTypeName(port.type) }} m_{{ getTmplVarName(port) }}_val;
    protected DataRef<{{ getDataTypeName(port.type) }}> m_{{ getTmplVarName(port) }};
    /*!
{%- if port.doc_description.length>0 %}
     * {{ port.doc_description }}{% endif %}
{%- if port.doc_type.length>0 %}
     * - Type: {{ port.doc_type }}{% endif %}
{%- if port.doc_num.length>0 %}
     * - Number: {{ port.doc_num }}{% endif %}
{%- if port.doc_semantics.length>0 %}
     * - Semantics: {{ port.doc_semantics }}{% endif %}
{%- if port.doc_unit.length>0 %}
     * - Unit: {{ port.doc_unit }}{% endif %}
{%- if port.doc_occerrence.length>0 %}
     * - Frequency: {{ port.doc_occerrence }}{% endif %}
{%- if port.doc_operation.length>0 %}
     * - Operation Cycle: {{ port.doc_operation }}{% endif %}
     */
    protected OutPort<{{ getDataTypeName(port.type) }}> m_{{ port.name }}Out;
{% endfor %}
    
    // </rtc-template>

    // CORBA Port declaration
    // <rtc-template block="corbaport_declare">
{%- if rtcParam.serviceports.length>0 %}
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
    /*!
{%- if servicePort.doc_description.length>0 %}
     * {{ servicePort.doc_description }}{% endif %}
{%- if servicePort.doc_if_description.length>0 %}
     * Interface: {{ servicePort.doc_if_description }}{% endif %}
     */
    protected CorbaPort m_{{ servicePort.name }}Port;
{%- endif %}{% endfor %}{% endif %}
    
    // </rtc-template>

    // Service declaration
    // <rtc-template block="service_declare">
{%- if rtcParam.serviceports.length>0 %}
{% for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Provided' %}
    /*!
{%- if serviceInterface.doc_description.length>0 %}
     * {{ serviceInterface.doc_description }}{% endif %}
{%- if serviceInterface.doc_argument.length>0 %}
     * - Argument:      {{ serviceInterface.doc_argument }}{% endif %}
{%- if serviceInterface.doc_return.length>0 %}
     * - Return Value:  {{ serviceInterface.doc_return }}{% endif %}
{%- if serviceInterface.doc_exception.length>0 %}
     * - Exception:     {{ serviceInterface.doc_exception }}{% endif %}
{%- if serviceInterface.doc_pre_condition.length>0 %}
     * - PreCondition:  {{ serviceInterface.doc_pre_condition }}{% endif %}
{%- if serviceInterface.doc_post_condition.length>0 %}
     * - PostCondition: {{ serviceInterface.doc_post_condition }}{% endif %}
     */
    protected {{ getInterfaceRawType(serviceInterface) }}SVC_impl m_{{ getTmplVarNameSI(serviceInterface) }} = new {{ getInterfaceRawType(serviceInterface) }}SVC_impl();
{%- endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}
    
    // </rtc-template>

    // Consumer declaration
    // <rtc-template block="consumer_declare">
{%- if rtcParam.serviceports.length>0 %}
{%- for servicePort in rtcParam.serviceports %}
{%- if servicePort.serviceinterfaces.length>0 %}
{%- for serviceInterface in servicePort.serviceinterfaces %}
{%- if serviceInterface.direction=='Required' %}
    protected CorbaConsumer<{{ getInterfaceRawType(serviceInterface) }}> m_{{ getTmplVarNameSI(serviceInterface) }}Base = new CorbaConsumer<{{ getInterfaceRawType(serviceInterface) }}>({{ getInterfaceRawType(serviceInterface) }}.class);
    /*!
{%- if serviceInterface.doc_description.length>0 %}
     * {{ serviceInterface.doc_description }}{% endif %}
{%- if serviceInterface.doc_argument.length>0 %}
     * - Argument:      {{ serviceInterface.doc_argument }}{% endif %}
{%- if serviceInterface.doc_return.length>0 %}
     * - Return Value:  {{ serviceInterface.doc_return }}{% endif %}
{%- if serviceInterface.doc_exception.length>0 %}
     * - Exception:     {{ serviceInterface.doc_exception }}{% endif %}
{%- if serviceInterface.doc_pre_condition.length>0 %}
     * - PreCondition:  {{ serviceInterface.doc_pre_condition }}{% endif %}
{%- if serviceInterface.doc_post_condition.length>0 %}
     * - PostCondition: {{ serviceInterface.doc_post_condition }}{% endif %}
     */
    protected {{ getInterfaceRawType(serviceInterface) }} m_{{ getTmplVarNameSI(serviceInterface) }};
{%- endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}
    
    // </rtc-template>


{%- if rtcParam.inports.length > 0 or rtcParam.outports.length > 0 %}
    private void initializeParam(Object target) {
        Class<?> targetClass = target.getClass();
        ClassLoader loader = target.getClass().getClassLoader();
        //
        Field[] fields = targetClass.getFields();
        for(Field field : fields) {
            if(field.getType().isPrimitive()) continue;
            
            try {
                if(field.getType().isArray()) {
                    Object arrayValue = null;
                    Class<?> clazz = null;
                    if(field.getType().getComponentType().isPrimitive()) {
                        clazz = field.getType().getComponentType();
                    } else {
                        clazz = loader.loadClass(field.getType().getComponentType().getName());
                    }
                    arrayValue = Array.newInstance(clazz, 0);
                    field.set(target, arrayValue);
                    
                } else {
                    Constructor<?>[] constList = field.getType().getConstructors();
                    if(constList.length==0) {
                        Method[] methodList = field.getType().getMethods();
                        for(Method method : methodList) {
                            if(method.getName().equals("from_int")==false) continue;
                            Object objFld = method.invoke(target, new Object[]{ new Integer(0) });
                            field.set(target, objFld);
                            break;
                        }
                        
                    } else {
                        Class<?> classFld = Class.forName(field.getType().getName(), true, loader);
                        Object objFld = classFld.newInstance();
                        initializeParam(objFld);
                        field.set(target, objFld);
                    }
                }
            } catch (ClassNotFoundException e) {
                e.printStackTrace();
            } catch (InstantiationException e) {
                e.printStackTrace();
            } catch (IllegalAccessException e) {
                e.printStackTrace();
            } catch (IllegalArgumentException e) {
                e.printStackTrace();
            } catch (InvocationTargetException e) {
                e.printStackTrace();
            }
        }
    }
{%- endif %}
}
